.map-container {
    margin-top: 6.4rem;
    background: #E6F7FB;
    border: 1px solid #DDE3F0;
    border-radius: 2rem;
    margin: 0 0 4rem;
}

.map-container footer {
    padding: 2rem 0;
    text-align: center;
    background:#F5F8FA;
    border-radius: 0 0 20px 20px;
}

.map-container footer a {
    color: #0089A5;
    text-decoration: none;
    font-weight: 700;
}

.map-container .leaflet-container {
    border-bottom: 1px solid #DDe3F0;
    border-radius: 2rem;
    border-radius: 20px 20px 0 0;
}

#mapid {
    width: 100%;
    height: 28rem;
}
